.root {
  background-color: var(--area-background-color);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropIndicatorContainer {
  width: 4px;
  height: 24px;
}

.scene3d {
  perspective: 500px;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.scene3d.active {
  transform: rotate3d(3, 1, -1, 45deg);
}

/*
 *  Primitive styles
 */

.primitive3d {
  transform: translateZ(0px);
  transform-style: preserve-3d;
}

.primitive3d.active {
  transform: translateZ(30px);
  box-shadow: -10px 30px 10px rgba(0, 0, 0, 0.1);
}

.selected,
.hover {
  outline: solid 1px var(--primary-500);
  outline-offset: 0px;
}
