.root {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: padding 0.3s, border 0.3s, background-color 0.3s, transform 0.3s,
    box-shadow 0.3s, margin 0.3s;
}

.empty {
  background-color: var(--primary-200);
  border: var(--border-width) dashed var(--primary-500);
  min-width: 48px;
  min-height: 48px;
}

.expand {
  background-color: var(--primary-200);
  border: var(--border-width) dashed var(--primary-500);
  padding: 8px;
}
