:root {
  --mono-100: #ffffff;
  --mono-200: #f5f5f5;
  --mono-250: #EBEBEB;
  --mono-500: #858585;
  
  --primary-500: #3d96f5;

  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;

  --border-color: var(--mono-250);

  --light-text-color: var(--mono-250);

  --text-body-color: var(--mono-500);
  --text-body-font-size: 14px;

  --area-background-color: var(--mono-200);
  --area-outline: var(--primary-500);

  --topbar-background-color: var(--mono-100);
  --topbar-border-color: var(--border-color);

  --properties-panel-background-color: var(--mono-100);
  --properties-panel-border-color: var(--border-color);
}
