.root {
  color: var(--button-color);
  border-radius: 24px;
  font-weight: var(--button-font-weight);
  border: none;
  cursor: pointer;
  transition: background-color 0.1s;
}

/** Sizes **/
.medium {
  padding: 0 14px;
  height: 32px;
  font-size: var(--button-font-size);
}

.large {
  padding: 0 16px;
  height: 40px;
  font-size: var(--button-font-size);
}

/** Colors **/
.primary {
  background-color: var(--button-background-color);
}
.primary:hover {
  background-color: var(--button-background-color-hover);
}
.secondary {
  background-color: var(--button-background-color);
}
.secondary:hover {
  background-color: var(--button-background-color-hover);
}
