.root {
  border-radius: 24px;
  font-weight: var(--button-font-weight);
  border: none;
  cursor: pointer;
  background: transparent;
}

/** Sizes **/
.medium {
  padding: 0 14px;
  height: 32px;
  font-size: var(--button-medium-font-size);
}

.large {
  padding: 0 16px;
  height: 40px;
  font-size: var(--button-large-font-size);
}

/** Variants **/
.primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background-color);
  transition: background-color 0.1s;
}
.primary:hover {
  background-color: var(--button-primary-background-color-hover);
}
.secondary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background-color);
  transition: background-color 0.1s;
}
.secondary:hover {
  background-color: var(--button-primary-background-color-hover);
}
.text {
  color: var(--button-text-color);
}
.text:hover {
  color: var(--button-text-color-hover);
}