.root {
  height: 62px;
  width: 100%;
  background-color: var(--topbar-background-color);
  border-bottom: 1px solid var(--topbar-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 1px;
  height: calc(100% - 32px);
  background-color: var(--topbar-border-color);
  margin: 16px 16px;
}