.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mono-500);
  margin: 0 var(--space-100);
  background-color: transparent;
  border: none;
}

.selected {
  color: var(--primary-500);
}

.icon {
  width: 16px;
  height: 16px;
}

.title {
  margin-top: var(--space-100);
  margin-bottom: 0;
}